.about-section{
    padding: 10px;

    h1{
        margin: 15px 0px 10px 0px;
        font-weight: 900;
        font-family: 'Ephesis', cursive;
    }
    p{
        margin-top: 20px;
        line-height: 25px;
        word-spacing: 2px;
        font-family: 'Rubik Burned', cursive;
    }
    img{
        margin-bottom: 50px;
    }
}